<!-- Begin Page Content -->
<div class="container-fluid">


    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">About GC Web</h1>
    </div>
    <!-- Content Row -->
    <!--     <div id="markdown" class="row"> </div> -->

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-xl-12 col-lg-10">

            <!-- Approach -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
                </div>
                <div class="card-body">
                    <p>GC Web makes extensive use of following technologies : </p>
                    <ul>
                        <li> <b>GCP : Google Cloud Platform </b></li>
                        <ul>
                            <li>Google Application Engine</li>
                            <li>Google Cloud SQL</li>
                        </ul>
                        <li> <b>Node js</b>/li>
                        <li> <b>Express</b></li>
                        <ul>
                            <li>EJS</li>
                            <li>PUG</li>
                        </ul>
                        <li> <b>Mysql</b></li>
                        <li> <b>MogoDB</b></li>
                        <li> <b>JSON</b></li>
                        <li> <b>Bootstrap</b></li>
                        <li> <b>Blockchain</b></li>
                        <ul>
                            <li>Web3 APIs</li>
                            <li>Ethereum</li>
                        </ul>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<%- include('../partials/_markdown'); %>