doctype html
html(lang="en")
    include ../partials/_head.pug
    body 
        h1(style="text-align:center;") REST MySQL CRUD with PUG
        p(style="text-align:center;")
            a(href="/") HOME &nbsp 
            a(href="/crud") LIST
        hr
        div(class="col-md-5")
            div(class="card-body")
                form(action="/crud" method="post")
                    div(class="form-group")
                        input(type="text" name="username" placeholder="Username" class="form-control" autofocus)
                    div(class="form-group")
                        input(type="text" name="password" placeholder="Password" class="form-control")
                    div(class="form-group")
                        input(type="email" name="email" placeholder="Email" class="form-control")
                    div(class="form-group")
                        input(type="text" name="fullname" placeholder="Fullname" class="form-control")      
                    div(class="form-group")
                        input(type="text" name="role" placeholder="Role" class="form-control")                                                                     
                    button(type="submit" class="btn btn-primary") INSERT
    include ../partials/_footer.pug